@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}
@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
  font-style: italic, oblique;
}
@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
  font-weight: bold;
  font-style: italic, oblique;
}
body {
  margin: 20px;
  font-family: "Computer Modern", sans-serif;
}

.theorem {
  border: 2px solid #cd0e66;
  background: rgba(205, 14, 102, 0.2);
  border-radius: 6px;
  margin-top: calc(1.5em + 18px);
  margin: auto;
  width: 90%;
}
.theorem h3 {
  font-size: 18px;
  margin: 0 0 -20px 10px;
  color: white;
  text-align: left;
  position: relative;
  top: -20px;
  width: fit-content;
  padding: 5px 12px;
  border-radius: 4px;
  background: #cd0e66;
}

.theorem hr {
  border: 2px solid #cd0e66;
  width: 50%;
}

.theorem.definition {
  border-color: #fd8c00;
  background: rgba(253, 140, 0, 0.2);
}
.theorem.definition h3 {
  background: #fd8c00;
}
.theorem.example {
  border-color: #22ab24;
  background: rgba(34, 171, 36, 0.2);
}
.theorem.example h3 {
  background: #22ab24;
}
.vidset {
  margin: 0 auto;
  display: block;
  width: 400px;
}

.square {
  height: 50px;
  width: 50px;
  background-color: #555;
}


